<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="POST" action="/phones/<%=phone.id%>?_method=PUT">
      Name: <input type="text" name="name" value="">
      Carrier: <input type="text" name="carrier" value="">
      fourG: <input type="text" name="fourG" value="true or false?">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
