<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome To Main Page</h1>

    <ul>
    <%=  phones.name %> </br>
    </ul>


  </body>
</html>
