<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>FORM</h1>
  <form action="/phones" method="POST">
    Name: <input type="text" name="name"> </br>
    Company: <input type="text" name="company"> </br>
    fourG: <input type="text" name="fourG" value="true or false?">
  <button type="submit"</button>
  </form>

  </body>
</html>
